# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: atambo <marvin@42.fr>                      +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2024/12/12 18:46:12 by atambo            #+#    #+#              #
#    Updated: 2025/01/07 16:49:07 by atambo           ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

#default ignore all
*

#whitelist
!*.c
!*.h
!Makefile
